.admin__content {
    margin: 0 auto;
    max-width: 1230px;
    padding: 20px 15px;
    border-top: 1px solid #E7E6E5;
}

.admin__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8C7969;
    font-family: "Noto Serif JP", serif;
    font-size: 24px;
    width: 100%;
}

.admin__search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 50px; */
}

.admin-form__search {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: 2%;
    /* height: 50px; */
}


.admin__search-box{
    width: 30%;
}
.admin__search-box input{
    padding: 10px;
    width: 100%;
    border: 1px solid #E7E6E5;
    color: #8C7969;
    background-color: #FBFBFB;
}

.admin__search-gender{
    width: 10%;
    position: relative;
}
.admin__search-gender select{
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #E7E6E5;
    outline: none;
    resize: none;
    border-radius: 1px;
    background-color: #F4F4F4;
    color: #8C7969;
    appearance: none;
    cursor: pointer;
}
.admin__search-gender::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 13px solid #E9E8E8;
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    pointer-events: none;
}

.admin__search-select {
    width: 20%;
    position: relative;
}

.admin__search-select select {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #E7E6E5;
    outline: none;
    resize: none;
    border-radius: 1px;
    background-color: #F4F4F4;
    color: #8C7969;
    appearance: none;
    cursor: pointer;
}

.admin__search-select::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 13px solid #E9E8E8;
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    pointer-events: none;
}



.admin__search-date {
    width: 15%;
    position: relative;
}

.admin__search-date input {
    padding: 10px;
    width: 100%;
    border: 1px solid #E7E6E5;
    outline: none;
    resize: none;
    border-radius: 1px;
    background-color: #F4F4F4;
    color: #8C7969;
    position: relative;
    appearance: none;
}
.admin__search-date input::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.admin__search-date::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 13px solid #E9E8E8;
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    pointer-events: none;
}

.admin__search-button{
    width: 10%;
}

.admin__search-button--submit {
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #82756A;
}

.admin-form-reset{
    width: 12%;
}
.admin__search-button--reset {
    color: #fff;
    width: 80%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #D9C6B5;
}

.admin__other-heading{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    align-items: center;
}
.admin__export{
    width: 10%;
}
.admin__export-button{
    color: #8C7969;
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #EDEAE6;
}


/* ↓ paginationのスタイル ↓ */
.paginationWrap {
    font-size: 14px;
}

.pagination-table {
    border-collapse: collapse;
    font-weight: bold;
    text-align: center;
    border: 1px solid #F6F5F5;
}

.paginationWrap tr.pagination td {
    border-right: 1px solid #F6F5F5;
}
.paginationWrap tr.pagination td:last-child{
    border: none;
}

.paginationWrap tr.pagination td a {
    display: block;
    text-decoration: none;
    width: 107%;
    height: 107%;
    padding: 3px 10px;
    color: #8C7969;
}

.paginationWrap tr.pagination td a.active {
    background-color: #8B7969;
    color: white;
}
/* ↑ paginationのスタイル ↑ */



.admin-table{
    border: 1px solid #F6F5F5;
}
.admin-table__inner{
    width: 100%;
}

.admin-table__header,
.admin-table__item{
    padding: 15px;
    border-bottom: 1px solid #F6F5F5;
    font-family: "Noto Serif JP", serif;
    text-align: left;
    font-size: 16px;
}
.admin-table__header{
    background-color: #8B7969;
    color: #fff;
}
.admin-table__item {
    background-color: #fff;
    color: #8C7969;
}

.admin-table__row:last-child .admin-table__item{
    border-bottom-width: 0;
}

/* ↓ モーダルウィンドウのスタイル  ↓*/
.modal__overlay{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: none;
}
.modal__content{
    width: 40%;
    margin: 0 auto;
    z-index: 2;
    border: 2px solid #8B7969;
    background: #fff;
    padding: 10px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

.admin-table__item label{
    border: 1px solid #F6F5F5;
    padding: 5px 10px;
    cursor: pointer;
    color: #DFD0C2;
    background-color: #FCFCFC;
}
.modal-check,
.modal__close-button{
    display: none;
}
.modal-check:checked + div.modal__overlay{
    display: block;
}
.modal-delete:checked + div.modal__overlay{
    display: none;
}

.modal__close{
    margin: 15px;
    margin-bottom: 50px;
    text-align: right;
}
.modal__close label{
    border-radius: 50%;
    border: 1px solid #8B7969;
    color: #8B7969;
    padding: 2px 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
.modal__group{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;

}

.modal__group-title{
    color: #8B7969;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 30%;
}
.modal__group-content{
    width: 60%;
}
.modal__group-content input,
.modal__group-content textarea{
    border: none;
    outline: none;
    resize: none;
    background: #fff;
    color: #8C7969;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.modal__delete{
    text-align: center;
    margin: 50px;
}
.modal__delete-button{
    border: none;
    background-color: #BA370D;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}






